div#container ul.my-songs li{
     color: beige;
     background-color: black;
}
/*how to calculate specificity:
inline style attribute >id selectoe >class selector >element selector*/
/* 0 , 1 , 1 ,3*/
div#container ul.my-songs li.favourite{
    color: aqua;
    background-color: blue;
}
